body{
    background-image:url(W_back.jpg);
    background-size:cover;
    background-position:center;
}
#Canvas{
    border:5px grey ridge;
    width:1360px;
    height:285px;
    /* height:43vh; */
}